html {
    scroll-behavior: smooth;
}

:root {
    --text : #2A272A;
    --purple : #845EC2;
    --orange : #FF9671;
    --pink : #FF6F91; 
    --yellow :#F9F871 ; 
    --bright-orange :#FFC75F ;
    --light-purple : #B0A8B9;
}
.row {
    margin: 0 !important;
}
* {
    font-family: 'Poppins', sans-serif;
}
.navbar {
    box-shadow: none !important;
}
.logo {
    margin-left: 45px;
}
.nav-link {
    font-weight: 500;
    font-size: 1.1rem;
    color: var(-) !important;
    transition: 0.3s all ease;
    
}
.nav-link:hover {
    font-size: 1.2rem;
    color: #FF9671 !important;
    
}
.nav-center {
    margin-left: 255px !important;
}
.header-title{
    font-weight: 300 !important;
    font-size: 3.8rem !important;
    letter-spacing: 2px; /* Adjust as needed */
}
.header-strong {
    background-color: #000;
    color: #fff;
    padding: 5px 5px;
    border-radius: 5px;
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .10em solid rgb(39, 39, 39); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}


@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(39, 39, 39); }
  }

.header-text {
    font-weight: 200 !important;
    font-size: 1.9rem !important;
    
}
.btn-dark {
    border-radius: 7px;
}


.btn-outline-light {
    border-color: #2A272A !important;
    padding: 12px 45px !important;
    border-radius: 8px !important;
    color:#2A272A !important;
    font-weight: 500 !important;
    font-size: 0.9rem !important;
    transition: 0.3s all ease;
}
.btn-outline-light:hover {
    border-color: #2A272A !important;
    padding: 15px 48px !important;
    border-radius: 8px !important;
    color:#2A272A !important;
    font-weight: 500 !important;
    font-size: 0.9rem !important;
    
}
.text-headline {
    font-weight: 600;
    font-size: 4.3rem;
    color: var(--purple);
}
.subtitle-headline {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--light-purple)
}
.search-form{
    padding: 40px 40px !important;
    border: none !important;
    
}
.btn-orange {
    padding: 20px 30px !important;
    border-radius:10px !important;
    font-weight: 500 !important;
}
.illustration {
    height: 450px !important;
    width: 72% !important;
}
.border {
    border: 1px solid #ccc;
}
#aboutus {
    background: #282828;

}
.about-heading {
    font-size: 2.3rem !important;
    font-weight: 500;
    color: #fff;
    letter-spacing: 3px;
}
.about-img {
    background-image: url('/assets/img/alejandra-cifre-gonzalez-ylyn5r4vxcA-unsplash.jpg');
    height: 600px;
    width: 600px;
    border-radius: 55px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.25);

}
.about-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}
.about-subtitle {
    font-weight: 600;
    color: #fff;
    font-size: 3rem;
}
.about-text {
    font-weight: 500;
    color: #fff;
    font-size: 1.2rem;
}
.navbar-brand {
    font-weight:500;
    font-size: 1.6rem;
    color: #2A272A !important;
    letter-spacing: 1.5px;
}
.about-item {
    font-size: 1.2rem !important;
    color: #fff;
    font-weight: 600;
    line-height: 2rem;
    
}
.header-subtitle {
    font-weight: 300 !important;
    letter-spacing: 2px;
    font-size:1.3rem;
    line-height: 30px;
}
.header-img {
    border-radius: 25px !important;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.25);
}
.popular-residence {
    background: rgb(0,0,0);
    background: linear-gradient(360deg, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 50%);
}

.popular-title {
    font-weight: 300 !important;
    font-size: 1.1rem;
    letter-spacing: 4px !important;
}
.popular-heading {
    font-weight: 500 !important;
    font-size: 2.2rem !important;
    letter-spacing: 4px !important;
}
.box {
    height: 520px !important;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.4);
}
.box-image {
    height: 350px !important;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-image: url('https://images.unsplash.com/photo-1448630360428-65456885c650?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=867&q=80');
}
.box-image2 {
    height: 350px !important;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-image: url('https://images.unsplash.com/photo-1580587771525-78b9dba3b914?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cmVhbCUyMGVzdGF0ZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
}
.box-image3 {
    height: 350px !important;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-image: url('https://images.unsplash.com/photo-1511452885600-a3d2c9148a31?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fHJlYWwlMjBlc3RhdGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
}
.card-footer {
    border: none;
    background-color: transparent;
}
.price {
    font-weight: 600 !important;
}
.founder-name {
    color: white;
    letter-spacing: 4px !important;
}
.founder-company {
    color: white;
    letter-spacing: 2px !important;
}
.testimonial {
    font-weight: 200 !important;
    letter-spacing: 1px !important;
}
.border-white {
    border: 1px solid rgba(255, 255, 255, 0.377);
}
.book-now {
    border-radius: 5px;
}
.our-blog {
    font-weight: 300 !important;
    font-size: 1.1rem;
    letter-spacing: 4px !important;
}
.section-2-header {
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: 4px !important;
}
.our-blog-text {
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 200;
    margin-top: 28px;

}
.see-article {
    padding: 10px 10px !important;
    border-radius: 2px;
    margin-top: 45px !important;
}
.article-img {
    border-radius: 5px !important;
}
.article-created {
    font-size: 1.1rem !important;
    font-weight: 200;
    letter-spacing: 2px;
}
.border-dark {
    border: 1px solid rgba(0, 0, 0, 0.205);
    opacity: 0.8;
    width:50%;
}
.article {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 2px;
}
footer {
    background: rgb(0,0,0);
}
li {
    list-style: none;
}
.footer-title {
    color: rgb(145, 145, 145);
    letter-spacing: 1px;
}
.footer-list {
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 1px;
}
.about-us-text {
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 200;
}


@media only screen and (max-width: 425px){
	.about-img {
        width: 340px;
        height: 350px;
    }
  
    .about-title {
        text-align: center;
        margin: 20px 0;
        font-size: 1.6rem;
        letter-spacing: 3px;
    }
    .about-subtitle {
        text-align: center;
    }
    .about-text {
        font-size: 1.2rem;
        letter-spacing: 2px;
        margin: 10px 0;
    }
    .footer-title {
        text-align: center;
    }
    .footer-list {
        text-align: center;
    }
    .founder-name {
        text-align: center;
    }
    .founder-company , .testimonial {
        text-align: center;
    }
    .testimonials {
        margin-top: -40px !important;
    }
    .box {
        height: 400px !important;
    }
    .box-image ,.box-image2 , .box-image3 {
        height: 230px !important;
    }


}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
}



@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
}
