* {
    font-family: 'Montserrat', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background: rgb(84,30,82);
    background: linear-gradient(360deg, rgba(84,30,82,1) 5%, rgba(0,5,51,1) 41%);
    background-repeat: no-repeat;
}
/* REVEAL */
.reveal {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s ease;
}
.reveal.active {
    opacity: 1;
    transform: translateY(0px);
}


.navbar {
    box-shadow: none !important;

}
.nav-link {
    color:#F0EDFF !important;
    font-weight: 300 !important;
}
.nav-link:hover {
    color:#fff !important;
    font-weight: 400 !important;
}
.btn-outline-light {
    opacity: 0.9;
}
h1,h2,h3,h4,h5,h6 {
    color:#F0EDFF !important;
}
.txt-header-1,
.txt-header-2,
.txt-header-3 {
    font-size: 2.5rem;
}
.txt-header-1,
.txt-header-2 {
    font-weight: 400;
}
.txt-header-2 {
    margin-left: 9.5rem;
}
.txt-header-3 {
    margin-left: 11.8rem;
}
.header-img {
    background-repeat: no-repeat;
    border-radius: 51px;
    filter: drop-shadow(0px 4px 100px rgba(255, 255, 255, 0.6));
}
.projects-title {
    font-size: 2rem;
    font-weight: 300;
}
.box-1 , .box-2 , .box-3 , .box-4 {
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.4);
    border-radius: 29px;
}
.box-1:hover , .box-2:hover , .box-3:hover , .box-4:hover {
    transform: translateY(-15px);
    transition: 0.4s ease-in;
}
.box-1 {
    height: 160px;
    width: 250px;
    background-image: url("/summit_properties/assets/img/logo_white.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.box-1:hover {
    
}
.box-2 {
    height: 160px;
    width: 250px;
    background-image: url("/assets/images/amac_white_logo_htAzk8I0x.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.box-2:hover {
    
}
.box-3 {
    height: 160px;
    width: 250px;
    background-image: url("/assets/images/passup.png");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}
.box-3:hover {
    
}
.box-4 {
    height: 160px;
    width: 250px;
    background-image: url("https://ik.imagekit.io/amac/img/white_logo__H1L_lrXikZ.png");
    background-size: 58%;
    background-repeat: no-repeat;
    background-position: center;
}
.box-4:hover {
    
}


.border-light {
    border: 1px solid rgba(255, 255, 255, 0.406) !important;
}

.about-title , 
.skills-title {
    font-size: 2.5rem;
    font-weight: 300;
}
.about-text {
    font-size: 1.4rem;
    font-weight: 200;
    color: #F0EDFF;
}
.box-1-a , .box-2-a , .box-3-a , .box-4-a , .box-5-a , .box-6-a , .box-7-a , .box-8-a{
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.4);
    border-radius: 29px;
}
.box-1-a:hover , .box-2-a:hover , .box-3-a:hover , .box-4-a:hover , .box-5-a:hover , .box-6-a:hover , .box-7-a:hover , .box-8-a:hover{
    transform: translateY(-15px);
    transition: 0.4s ease-in;
}

.box-1-a {
    height: 160px;
    width: 220px;
    background-image: url("/assets/images/html.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.box-2-a {
    height: 160px;
    width: 220px;
    background-image: url("/assets/images/css.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.box-3-a {
    height: 160px;
    width: 220px;
    background-image: url("/assets/images/javascript-logo.png");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
}
.box-4-a {
    height: 160px;
    width: 220px;
    background-image: url("/assets/images/bootstrap_logo.png");
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
}
.box-5-a {
    height: 160px;
    width: 220px;
    background-image: url("/assets/images/python.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
.box-6-a {
    height: 160px;
    width: 220px;
    background-image: url("/assets/images/django_logo.png");
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
}
.box-7-a {
    height: 160px;
    width: 220px;
    background-image: url("/assets/images/react.png");
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
}
.box-8-a {
    height: 160px;
    width: 220px;
    background-image: url("/assets/images/postgresql.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
.border-project {
    border: 1px solid #fff;
    border-radius: 25px;

}
.btn-rounded {
    border-radius: 6%;
    opacity: 0.7;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { 
    .txt-header-1 {
        text-align:center;
        margin-left: 0;
    }
    .txt-header-2 {
        text-align:center;
        margin-left: 0;
    }
    .txt-header-3 {
        margin-left: 0;
        text-align:center;
    }
    .name-header {
        text-align:center;
    }
    .header-img {
        margin-top: 3rem;
    }
}